{% extends "default.html" %}
{% block link %}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
<link rel="stylesheet" href="/css/comment.css">
{% endblock %}
{% block title %}Dcampus{% endblock %}
{% block main %}
<section class="main">
    <div class="post">
        <div class="post-title">
            <h1>{{ post.title }}</h1>
            <div class="list-right">
                <div class="li-img">
                    <a><img src="{{ authImg }}"></a>
                </div>
                <div class="li-date">
                    <p>작성자: {{ post.user }}</p>
                    <p>{{ post.createdAt | dateform }}</p>
                    <p><i class="fa fa-eye"></i>{{ post.views }}<i style="margin-left:10px;" class="fa fa-commenting comments"></i>{{ comments | length }}</p>
                </div>
            </div>
        </div>
        <div class="post-content">
            <div class="content">{{ post.content | safe }}</div>
            <div class="post-rec">
                <!-- 추천수 -->
                <div class="like"  ><i class="fa fa-caret-up"></i></div>
                <div class="num">{{ post.recommend }}</div>
                <div class="dislike"><i class="fa fa-caret-down"></i></div>
            </div>
        </div>
    </div>
    {% for comment in comments %}
    <div class="comment">
        <input type="hidden" value="{{ comment.id }}" disabled>
        <div class="com-left">
            <div class="list-right">
                <div class="li-img">
                    <a><img src="{{ img }}"></a>
                </div>
                <div class="li-date">
                    <p>작성자: {{ comment.user }}</p>
                    <p>{{ comment.createdAt | commentform }}</p>
                </div>

            </div>
            <div class="com-content">{{ comment.content | safe }}</div>
        </div>
        <div class="com-right">
            <div class="post-rec">
                <!-- 추천수  -->
                <div class="like"><i class="fa fa-caret-up"></i></div>
                <div class="likeNum coml">{{ comment.recommend }}</div>
                <div class="dislike"><i class="fa fa-caret-down"></i></div>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="comment-cr">
        <div class="list-right">
            <div class="li-img">
                <a><img src="{{ img }}"></a>
            </div>
            <div class="li-date">
                <p>{{ crrUser }}</p>
            </div>
        </div>
        <form class="comment-wrapper" method="POST">
            <textarea id="summernote" class="comment-create" type="file" name="editordata"></textarea>
            <button class="comment-submit" type="submit">등록</button>
        </form>
    </div>
</section>
{% endblock %}
{% block script %}
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
<script src="/js/comment.js"></script>
{% endblock %}