{% extends "default.html" %}
{% block title %}Dcampus>링크저장소{% endblock %}
{% block link %}
<link rel="stylesheet" href="css/link.css">
{% endblock %}
{% block main %}
<section class="main">
    <article class="plus-plan">
        <button type="button" class="add-btn">링크 추가하기</button>
    </article>
    <article class="link">
        {% for link in links%}
        <div class="link-content" id="{{ link.linkId }}">
            <div class="link-delete">삭제 <i class="fa fa-trash-o"></i></div>
            <div class="link-copy">링크 복사 <i class="fa fa-file-o"></i></div>
            <input type="text" class="link-name" value="{{ link.linkName }}" disabled />
            <textarea class='link-url' disabled>{{link.linkUrl}}</textarea>
        </div>
        {% endfor %}
    </article>
   
    <article class='enroll hide'>
        <div class="link-content enroll-content">
            <button class='cancel-button'><i class="fa fa-times"></i></button>
            <input type="text" class="link-name enroll-name" placeholder="링크 이름">
            <textarea class='enroll-url link-url'></textarea>
            <button class='enroll-button'>링크 등록<i class="fa fa-check"></i></button>
        </div>
    </article>
</section>
{% endblock %}
{% block script %}
<script src="js/link.js"></script>
{% endblock %}