{% extends "default.html" %}
{% block title %}Dcampus>로그인{% endblock %}
{% block link %}
<link rel="stylesheet" href="css/login.css">
{% endblock %}
{% block main %}
    <section class="main">
        <div class="center">
            <article class="form">
                <h1>로그인</h1>
                <form method="POST" id="form">
                    <div class="input">
                        <input type="text"  autocomplete="off" id="inputId" name="id" placeholder="이메일을 입력해 주세요" autofocus> 
                    </div>
                    <div class="input">
                        <input type="password"  autocomplete="off" id="inputPassword" name="password" placeholder="비밀번호를 입력해 주세요">
                    </div>
                    <div id="line">
                        <div></div>
                    </div>
                    <div id="submit"> 
                    <button type="submit">로그인</button>
                    </div>
                </form>
            </article>
            <article class="bottom">
                <div><a>개인정보처리방침</a></div>
                <div><a>COPYRIGHT &copy; re designed by yd_w_sang</a></div>
            </article>
        </div>
    </section>
{% endblock %}
{% block script %}
<script src="js/login.js"></script>
{% endblock %}