{% extends "default.html" %}
{% block title %}Dcampus>회원가입{% endblock %}
{% block link %}
<link rel="stylesheet" href="css/profile.css">

{% endblock %}
{% block main %}
<section class="main"> 
    <p>사용자 이름 {{name}}</p>
    <p>아이디{{ id }}</p>
    <p>팔로워</p>
    <p>팔로잉</p>
<form method="POST" action="/profile/1">
{% if not intro %}
<input type="text" name="intro" placeholder="소개를 입력해 주세요">
<button type="submit">저장</button>
{% else %}
<p>소개 {{intro}}</p>
<input class="intro" type="text" name="intro" placeholder="수정할 문구를 입력해주세요">
<button class="update" type="button">수정하기</button>
<button class="delete" type="button">삭제하기</button> 
</form> 
{% endif %}
</section>
{% endblock %}
{% block script %}
<script src="js/profile.js"></script>
{% endblock %}