.main {
    padding-top: 30px;
    margin: 0 auto;
    width: 50%;
    text-align: center;
}
.input-container,
.input-container input,
.input-container textarea,
.input-container h1 {
    margin: 5px 0;
    outline: none;
    border: none;
}
.input-container {
    margin: 0 auto;
    width: 70%;
    border-radius: 8px;
    box-shadow: 3px 3px 5px #ddd;
}
.input-container textarea {
    font-size: 18px;
    color: rgb(0, 44, 255);
}
.input-height {
    height: 28px !important;
    font-size: 20px;

}
.input-box {
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 60px;
    color: black;
}
h1 {
    color: black;
}
.link-area {
    margin-top: 30px;
}
div.link-submit {
    display: inline-block;
    width: 550px;
    margin: 30px;
    border-radius: 18px;
    background-color: rgba(0, 0, 0, 0.05);
    box-shadow: 2px 2px 3px #ddd;
    text-align: center;
    position: relative;
}
.submit-btn {
    color: white;
    background-color: #253269;
    width: 200px;
    height: 40px;
    font-size: 20px;
    margin: 7px;
}
.submit-btn:hover {
    opacity: 0.9;
}
.link-name {
    height: 40px;
    font-size: 20px;
    line-height: 40px;
}
.delete {
    position: absolute;
    top: 8px;
    right: 40px;
    font-size: 20px;
    width: 80px;
    padding: 2px;
    background-color: orange;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 5px #ddd;
    color: white;
}
.delete:hover {
    background-color: crimson;
}
@media screen and (max-width:1000px) {
    .main {
        width: 80%;
    }
    .input-container {
        width: inherit;
    }
    .link-area {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    div.link-submit {
        width: 80%;
    }
}