.main{
    display : flex;
    justify-content: center;
    margin-top: 55px;
}
.main div.center{
    border : 1px solid #EEEEEE; 
    width: 524px;
    height: 485px; 
    text-align: center;
    display: flex; 
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    padding-top: 50px; 
}
/*중앙정렬 시켜야하는 요소들 담는 곳*/
.main article.form{
    display : flex; 
    flex-direction : column;
    align-items: center;
    height: 329px;
    width: 524px;
    font-size: 0; 
    margin:0 auto; 
    display : block; 
}
.main .center article h1{
    height: 44px; 
    line-height: 44px;
    font-size: 32px;
    margin : 5px 0  20px 1px;
    color:#626466; 
}
.main .center article input{
    margin-bottom: 20px;
    font-size: 16px;
    padding : 10px; 
    border: 1px solid #cccccc; 
    width : 461px;
    box-sizing: border-box; 
    height: 36px; 
    margin : 0; 
    background-color:#e8f0fe; 
    color: black; 
}
.input{
    padding-top : 20px; 
}
#line{
    padding: 28px 0 28px 0 ;
}
#line div{
    margin:0; 
    display:inline-block;
    background-color: #cccccc ;
    width: 461px;
    height :1px;
}
.main .center article button{
    display : inline-block;
    padding: 10px; 
    background-color:#253269;
    font-weight : 400; 
    font-size : 28px;
    color: white;
    width: 461px;
    height: 60px; 
    border: none; 
}

.main .center article button:hover{
    background-color: #1B2550 ;  
}
.main article.bottom{
    width : 100%;
    height: 105px; 
    background-color : #F5F5F5; 
}
.main article.bottom div{
    font-size: 14px; 
    margin-top: 22px; 
    font-weight: bold;
    color :#253269;
}
.main article.bottom div:nth-child(2){
    font-size:12px; 
    margin-top : 10px;
    color :#666666;
    padding: 0; 
    font-weight: 400;
}
