/* main */
body{
    position: relative;
    height: 100vh;
}
header {
    display: none;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.main {
    margin-top: 40px;
    width: 1245px;
    height: 610px;
    font-size: 0;
}

.main .box {
    float: left;
    height: 590px;
    box-sizing: border-box;
    position: relative;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.83);
}

/* title */
.main-title {
    width: 480px;
}

.main-title .title {
    margin-left: 80px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 400px;
    padding-top: 70px;
    font-family: 'yg-jalnan';
    font-size: 60px;
}

.main-des {
    padding-left: 90px;
    width: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.inner {
    height: 120px;
    display: flex;
    margin: 10px 0;
}

.inner:hover {
    opacity: 0.8;
}

.inner div {
    float: left;
}

.inner .icon {
    margin: 10px 20px 20px;
}

.inner .icon i {
    font-size: 60px;
}

.inner .inner-des {
    margin: 6px 0 0 0px;
    box-sizing: border-box;
}

.inner .inner-des p {
    font-size: 15px;
}

.main-nav,
.main-nav div {
    width: 155px;
}

.main-nav div {
    background-color: #711612;
    border-bottom: 0.1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

.main-nav div a p {
    font-size: 13px;
    color: rgba(255, 255, 255, 0.61);
    text-align: center;
}
.go-roadmap {
    height: 80px;
}
.go-main {
    height: 340px;
}

.go-project {
    height: 84px;
    background-color: #675425 !important;
}

.go-link {
    height: 82px;
    background-color: #675425 !important;
}

/*gnb */ 
.gnb {
    margin: 0 auto;
    width: 1230px;
    height: 40px;
    text-align: right;
}
.gnb a {
    font-family: 'yg-jalnan';
    font-size: 23px;
    margin: 4px;
    color: rgba(0, 0, 0, 0.65);
}

.gnb a:hover {
    color: darkblue;
}

.gnb-login {
    width: 100px;
    height: 20px;
}

.gnb-login::after {
    position: absolute;
    content: "";
    height: 25px;
    width: 3px;
    background-color: rgba(0, 0, 0, 0.45);
    margin: 6px 6px
}
/*nav */
.warn {
    display: none;
    margin: 0 auto;
}
.left-bottom:hover{
    background-color:#81692b !important;
}
.left-top:hover{
    opacity: 0.9;
}
footer {
    margin-top:500px;
    bottom: 0; 
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100vw;
    flex-direction: column;
    color: white;
    font-size: 14px;
}
.head {
    display: flex;
    height: 74px;
    justify-content: space-between;
    align-items: center;
    background-color: #242424bf;
}
.head div {
    margin-left: 30px;
    height: 60px;
    line-height: 60px;
}
.bottom {
    background-color: #1f1f1fa8;
    height: 100px;
}
.head div i {
    margin-top: 6px;
    color: white;
    font-size: 45px;
    margin: 6px 10px 0 10px;
}
@media screen and (max-width:1310px) {
    .main{
        width : auto;
        margin-top: 100px;
    }
    .main-title {
        display: none;
    }
    .warn {
        display: block;
        color: black;
    }
    .gnb{
        width : 80%;
    
    }
}
@media screen and (max-width:760px) {
    .main-des{
        display:none;
      
    }
    .gnb,footer{
        display: none;
    }

} 
 
