.container{
    display : flex;
    justify-content: center;
    text-align: center;
}
.main {
    margin-top : 50px;
    height: 570px;
    width: 522px;
    border: 1px solid #ddd;
    border-radius: 10px;
}
.main .sign-in h1{
    font-size: 30px; 
    color: rgba(0, 0, 0, 0.596);
    margin: 40px 0 39px 0; 
}
.main .sign-in .input {
    box-sizing: border-box;
    width: 461px;
    display: flex;
    margin:20px 0 25px 32px;
    
}
.main .input .input-group-addon {
    display: inline-block;
    width: 50px;
    background-color: #3d3535;
    color: white;
    line-height: 36px; 
    font-size : 20px;
    border-radius: 3px 0 0 3px; 
}
.main .input input {
    padding: 0 10px;
    background-color: #E8F0FE;
    flex: 1;
    height: 40px;
    border: 1px solid #594b4b;
    font-size : 16px; 
}
.main .button{
    margin-top: 30px;
}
.submit{
    padding: 10px; 
    background-color:#253269;
    font-weight : 400; 
    font-size : 25px;
    color: white;
    width: 461px;
    height: 60px; 
    border: none; 
}
.cancel{
    margin-top: 15px;
    padding: 10px; 
    background-color: #3d3535;
    font-weight : 400; 
    font-size : 25px;
    color: white;
    width: 461px;
    height: 50px; 
    border: none; 
}
hr{
    width: 460px;
}
footer{
    position :absolute; 
    background : #ddd; 
    bottom: 0; 
    width: 100%;
    height: 150px;
}
.main article.bottom{
    width : 100%;
    height: 105px; 
    background-color : #F5F5F5; 
}
.main article.bottom div{
    padding-top: 20px;
    font-size: 14px; 
    margin-top: 22px; 
    font-weight: bold;
    color :#253269;
}
.main article.bottom div:nth-child(2){
    font-size:12px; 
    margin-top : 10px;
    color :#666666;
    padding: 0; 
    font-weight: 400;
}
 



