@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;500;600;700&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    /* color: rgba(255, 255, 255, 0.92); */
    color:black;
}
i{
    pointer-events: none;
}
html,body{
    height: 100%;
    overflow: hidden;
}
a {
    text-decoration: none;
    color: #222;
}
ul {
    list-style: none;
}
button {
    cursor: pointer;
    outline: none;
}
.slick-dots > li,
.slick-arrow {
    display: none !important;
}
.slider {
    box-sizing: border-box;
}
header {
    height: 98px;
}
header .title {
    text-align: center;
    padding : 0 !important;
    margin : 0; 
}
header .title a {
    padding: 10px;
    font-family: 'yg-jalnan';
    font-size: 50px;
    color: white;
}
.done{
    background-color : #9ce9aa !important;
    opacity: 0.8 !important;
}
/* 자바스크립트로 효과 추가/제거 class */
.hide{
    display:none;
}
.blur{
    opacity: 0.4;
}
/* footer */
footer {
    width:100%;
    position:absolute;
    bottom:0;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 14px;
}
.head {
    width:inherit;
    display: flex;
    height: 74px;
    justify-content: space-between;
    align-items: center;
    background-color: #242424bf;
}
.head div {
    margin-left: 30px;
    height: 60px;
    line-height: 60px;
}
.bottom {
    width:inherit;
    background-color: #1f1f1fa8;
    height: 100px;
}
.head div i {
    margin-top: 6px;
    color: white;
    font-size: 45px;
    margin: 6px 10px 0 10px;
}
