{% extends "default.html" %}
{% block title %}Dcampus>링크저장소{% endblock %}
{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/link.css') }}">
{% endblock %}
{% block main %}
    <div class="wrapper">
        <section class="main">
            <form action="/n">
                <div class="input-container">
                    <h1>링크를 등록하세요</h1>
                    <input type="text" autocomplete="off" class="input-box input-height" id="link-name" placeholder="링크 이름을 입력해 주세요" autofocus required>
                    <textarea class="input-box" id="content-area" spellcheck="false"></textarea>
                    <button type="button" class="submit-btn" id="submit-btn">링크 등록하기</button>
                </div>
            </form>
        </section>
        <section class="link-area">
        </section>
    </div>
{% endblock %}
{% block script %}
<script src="{{ url_for('static',filename='js/link.js') }}"></script>
{% endblock %}
