{% extends "default.html" %}
{% block title %}Dcampus{% endblock %}
{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/plan.css') }}">
{% endblock %}
{% block main %}
    <container>
        <div class="makePlan">
            <div>
                <p>추가할 계획</p>
                <button type="button" class="hide">
                    <i class="fa fa-times"></i>
                </button>
            </div>
            <textarea class="plan-input" size="120"></textarea> 
            <button type="submit" class="register-btn"> 
                <a style="color:white;">등록하기</a>            
            </button>
        </div>
        <section class="main">
            <article class="plus-plan">
                <button type="button" id="add-btn">계획 추가하기</button>
            </article>
            <article class="todo-list"></article>
        </section>
    </container>
{% endblock %}
{% block script %}
<script src="{{ url_for('static',filename='js/plan.js') }}"> </script>
{% endblock %}