{% extends "default.html" %}
{% block title %}Dcampus>회원가입{% endblock %}
{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">
{% endblock %}
{% block main %}
<div class="container">
    <section class="main">
        <article class="sign-in">
            <form method="POST" action="/signup">
                <h1>회원가입</h1>
                <div class="input">
                    <span class="input-group-addon">
                        <i class="fa fa-user "></i>
                    </span>
                    <input type="text" id="inputName" name="name" class="form-control" placeholder=" " required
                        autofocus>
                </div>
                <div class="input">
                    <span class="input-group-addon">
                        <i class="fa fa-envelope"></i>
                    </span>
                    <input type="text" id="inputId" name="Id" class="form-control" placeholder="" required autofocus>
                </div>
                <div class="input">
                    <span class="input-group-addon">
                        <i class="fa fa-lock"></i>
                    </span>
                    <input type="password" id="inputPassword" name="passwd" class="form-control" placeholder=""
                        required>
                </div>
                <hr>
                <div class="button">
                    <button type="submit" class="submit">계정 만들기</button>
                    <button type="button" class="cancel">취소</button>
                </div>
            </form>
        </article>
        <article class="bottom">
            <div>개인정보처리방침</div>
            <div><a>COPYRIGHT &copy; re designed by yd_w_sang</a></div>
        </article>
    </section>
</div>
{% endblock %}