<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>회원가입</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link href="../static/css/sign-up.css" rel="stylesheet"> -->
    <!-- <style>
        @import url(https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
    </style> -->
</head>
<body>
    <div class="container">
        {{ user_to_update.id }}
        <section class="main">
                <form method="POST" action="/update/{{ user_to_update.id }}">
                    <input type="text"  name="name" value="{{ user_to_update.user_name }}">
                    <input type="submit" name="Id"  value="Update Name">
                </form>
        </section>
    </div>
</body></html>
